*{
    padding: 0px;
    margin: 0px;
}
body{
        background-color: rgb(235, 231, 231);
}
.body{

    margin: 14px;
    height: 95vh;
    border: solid 2px black;
    border-radius: 32px;
}
.main{
    display: flex;
    height: 70vh;
}
.content{
    flex: 1;
    margin: 3%;
    margin-right: 0px;
    height: 80vh;
    text-align: center;
    align-content: center;
    border-radius: 12px;
}
.aside{
    flex: 1;
    margin: 3%;
    margin-left: 7px;
    height: 80vh;
    background-image: url(login.jpg);
    background-size: cover;
    border-radius: 22px;
}
.forminput{
    padding: 22px;
}
input{
    padding: 7px 32px;
    padding-left: 5px;
    border: solid 1px black;
    border-radius: 40px;
    width: 50%;
    margin: 5px;
    background-color: rgb(235, 231, 231);
}
.paran{
    text-align: left;
    margin-left: 22%;
    font-weight: bold;
}
button{
    margin: 15px;
   padding: 7px 12vh;
   border-radius: 22px; 
}
