*{
    padding: 0px;
    margin: 0px;
}
.top{
  background-image: url(neww.svg);
  height: 100vh;
     background-size: cover;
     margin-top: 0px;
     display: block;
}
nav{
    justify-content: center;
    margin-top: 0px;
    margin-left: 15%;
    margin-right: 15%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:  0px 0px 22px 22px; 
    padding: 12px;
    backdrop-filter: blur(7px);
    
}
.head{
    font-weight: bold;
    font-family: "Righteous", sans-serif; 
    color: rgb(46, 45, 45); 
}
nav ul li {
    display: inline-block;
    justify-content: space-between;
    padding: 23px;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}
a{
    text-decoration: none;
     color: rgb(0, 0, 0);
}
nav ul li a:hover{
    color: rgb(105, 103, 99);
    transition: 1ms;
}
.content{
    margin-top: 10px;
    align-content: center;
    text-align: center;
    height: 95vh;
    justify-content: center; 
   margin-bottom: 22px;
}
.head2{
  padding: 15px;
}
.container{
  background-color: rgb(248, 136, 0);
  height: 100vh;
}
.about{
  display: flex;
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
      background-image: url(about.svg);
      align-content: center;
      align-items: center;
}
.aboutmain{
  flex: 1;
}
.aboutaside{
    flex: 3;
    align-content: center;
    border: solid 1px rgb(104, 99, 98); 
    text-align: left;
    font-size: 1.7em;
    padding: 22px;
    border-radius: 22px;
    margin: 22px;
    background-size: cover;
    height: 70vh;
    backdrop-filter: blur(5px);
}
.headbout{
  font-size: 2.3em;
  padding-bottom: 32px;
  font-family: "Righteous", sans-serif;
  color: rgb(0, 0, 139);
}
.para{
    font-size: 4em;
    text-align: center;
    font-weight: bolder;
}
.para2{
    font-size: 2.4em;
    text-align: center;
    font-family: "MuseoModerno", sans-serif;
    font-weight: bolder;  
    padding: 12px; 
    margin: 13px;
}
.btn{
  border: solid 2px rgb(19, 19, 4);
  padding: 20px 40px;
  background: none;
  border-radius:10px;
  margin: 20px;
  font-size: 1.6em;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.headf{
  text-align: center;
  font-size: 2.7em;
   font-family: "Righteous", sans-serif;
   font-weight: lighter;
   color: rgb(0, 13, 87);
}
.mfeatures{
    height: 100vh;
  background-image: url(about.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 22px;
}
.features{
  display: flex;
}
.fdiv{
  flex: 1;
  margin: 5%;
  border-radius: 12px;
  border: solid 2px;
  height: 60vh;
  padding: 22px;
  text-align: center;
    backdrop-filter: blur(5px);
      gap: 12px;
}
.paraf{
  font-size: 1.5em;
  text-align: justify;
  padding: 12px;
  margin: 0px;
  padding: 0px;

}
.head4{
  height: 10vh;
  align-items: center;
  font-size: 1.9em;
  padding: 10px;
}
.span1{
  color: rgb(247, 210, 4);
}
.span2{
  color: rgb(0, 0, 0);
}
.span3{
  color: rgb(0, 0, 161);
}
